.deactivate_color{
	
	margin-left: 5px;
	margin-right: 5px;
	display: block;
	float: center;
	text-align: center;
	width: 100px;
	
}

.in_line_block{

	display: inline-block;
	/*border-style: solid;*/
	width: 120px;
}



.main_div
{	
	border-radius: 15px;
	width: 80px;
	height: 80px;
	margin: 18px;
	/*display: block;*/
	float: center;
	background-color: white;
	
}
.main_div:hover{

	box-shadow: 10px 5px 5px grey;
}

.main_div_opacity:hover{
	box-shadow: 0px 0px;
}

.main_div_opacity{

	opacity: 0.25;
	background-image: url("close.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px 25px;
}

.gameboard_div
{	
	width: 70px;
	height: 70px;
	margin: 10px;
	border-style: dashed;
	border-radius: 15px;
	border-color: #c6c6c6;
	display: inline-block;
}

.row_div{

	margin: 10px;
}

.main_row_div{
	display: inline-block;

}

.div_combination{
	
	display: none;
}

span{
	margin-left: 20px;
}

span.position{

	display: inline-block;
}

.palette{
	
	position: sticky;
	top: 0;
	background-color: white;
	margin: auto;
}

.absolute{
	
	position: absolute;
}

.won_label{
	
	position: fixed;
	top: 400px;
	width: 100%;
	height: 50px;
	background-color: red;
	display: none;
}

#gameboard{

	margin: auto;
	width: 800px;
}